body {
    background-image: url("sunset.jpg")
  }


.menu{
    float: right;
    background-color: black;
    padding: 10px;
    border-radius: 15px 50px;
}
ul li{
    display: inline-block;
    padding: 0.3px;
   

}
ul li a{
    font-weight: 500;
    font-size: 18px;
    font-family: inherit;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
h1 {
font-size: 90px;
    color: black;
    font-weight: 500;
    text-decoration: thistle;
}

span{
font-size: 60px;
    color: lavender;
}
.PHOTOGRAPHY {
    background-image: url('sand.jpg');
    background-size:1890px 445px;
    border: 5px solid #0099cc;
    border-radius: 15px 50px;
    font-size: 80px;
    padding: 17px;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 700;
  text-align: center;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, lavender, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
h3{
    color: lavender;
    text-align: center;
}

.options{
text-align: center;
    color: magenta;
}
.options .option1{
    background-color: #b30000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin: 23px;
    border-radius: 50px;
    color: #fff;
}
.options .option2{
    background-color:lavender;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin: 23px;
    border-radius: 50px;
    color: black;
}
.options .option1:hover{
    background-color: transparent;
    border: 1px solid lavender;
    transition: 0.4s;
}
.options .option2:hover{
    background-color: transparent;
    border: 1px solid lavender;
    transition: 0.4s;
    color: #fff;
}
ul li a:hover{
    background-color: #737373;
    transition: 0.6s;
    
}
ul li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
input[type=text], select {
  width: =0%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #b30000;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff4d4d;
  color: #000000;
  transition: 0.8s;
}

div {
  border-radius: 5px;
  background-color:transparent;
  padding: 20px;
}
   


   ul li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

ul li.dropdown1 {
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover {background-color: #f1f1f1;}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
input[type=text], select {
  width: =0%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #b30000;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff4d4d;
  color: #000000;
  transition: 0.8s;
}

div {
  border-radius: 5px;
  background-color:transparent;
  padding: 20px;
}
   .dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}
ul li.dropdown3 {
  display: inline-block;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content3 a:hover {background-color: #f1f1f1;}

.dropdown3:hover .dropdown-content3 {
  display: block;
}


    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: bottom ;
      width: 180px;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
        vertical-align: middle;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    div.center {
  text-align: center;
  border: 10px solid rgb(0, 8, 0);
  display:f;
}
.dropdown4 {
  position: relative;
  display: inline-block;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown4:hover .dropdown-content4 {
  display: block;
}
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
   display: inline;
   justify-content: center;
   align-items: center;
   font-family: 'Codystar';
   background: black;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.neons {
   margin-top: 10rem;
   text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }

  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

